html, body {
	height: 100%;
}

body {
	background-image: url(brick-wall-1245825_1920.jpg);
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-color: white;
  	font-family: 'Kaushan Script', cursive, serif, sans-serif;
  	font-size: 16px;
  	line-height: 1.6;
  	

}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}
h1 {
	font-size: 86px;
	color: #333;
	margin: 0;
	text-align: center;		
}

h2 {
	color: #333;
	font-size: 56px;
	display: inline;
	text-align: center;
}

h2:hover {
	color: white;
}

#about-me {
	width: 50%;
	float: left;
	padding: 25px;
	
}

#achievements {
	width: 50%;
	float: left;
	padding-top: 25px;

	
}

#about-me h4 {
	font-size: 36px;
	color: #333;
	text-align: center;
}

#about-me h4:hover {
	color: red;
}

#achievements h4:hover {
	color: red;
}

#about-me p {
	color: rgb(255,255,255);
	font-size: 26px;
	text-align: center;
	text-shadow: 2px 2px #333; 
	

}
#about-me img {
	width: 100%;
	margin-left: 50px;
	background-color: white;
	filter: grayscale(80%);
	position: relative;
	border-radius: 6px; 
}

#about-me img:hover {
	opacity: 1;
	display: block;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	transform: scaleX(-1);
}

#achievements h4 {
	font-size: 36px;
	color: #333;
	text-align: center;

}

#achievements p {
	color: rgb(255,255,255);
	font-size: 26px;
	text-align: center;
	text-shadow: 2px 2px #333; 

}

#skills ul {
	color: rgb(13,13,13);
	text-align: center;
	font-size: 26px;
	list-style-type:none;
	text-decoration: none;
}

a:visited {
	color: black;

}

a:hover {
	color: yellow;
}
a:active {
	color: black;
}

li:hover {
	color: yellow;
}

.exp {
	padding: 25px 35px;
}

.exp h4 {
	text-align: center;
	font-size: 36px;
	color: #333;
}

.exp p {
	color: rgb(255,255,255);
	font-size: 26px;
	text-align: center;
	text-shadow: 2px 2px #333; 
}

.exp h4:hover {
	color: red;
}

footer {
	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	background-color: rgb(255,255,255, 0.4);
  	color: white;
  	text-align: center;

}

footer li {
	display: inline-block;
	font-size: 30px;
	color: white;
	text-shadow: 2px 2px red;
	list-style-type:none;
	text-decoration: none;
	padding: 20px;
}
